.main-content {
	padding: rem(80px) rem(40px) rem(16px);
}

.the-page {
	max-width: $maximum-page-width;
	margin-left: auto;
	margin-right: auto;

	.the-title {
		@include h1();

		margin-bottom: rem(32px);
	}
}
