.the-posts {
    >*+* {
        margin-top: rem(128px);
        position: relative;

        &::after {
            content: ' ';
            position: absolute;
            top: rem(-64px);
            left: calc(50% - 50vw);
            right: calc(50% - 50vw);

            width: 99.625vw;
            height: rem(1px);
            background-color: $gray-15;
        }
    }
}

.single-post {
    max-width: $maximum-page-width;
    margin-left: auto;
    margin-right: auto;

    .the-title {
        @include h1();

        margin-bottom: rem(32px);

        a {
            color: $black;
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }

    .the-meta-info {
        display: flex;
        align-items: center;
        gap: rem(16px);
        margin-bottom: rem(32px);
    }

    .the-avatar {
        border-radius: 50%;
        width: rem(48px);
        height: rem(48px);
    }

    .the-author {
        font-weight: 600;
        margin-bottom: rem(4px);
    }

    .the-publish-date {
        font-size: rem(14px);
    }

    .the-tags {
        display: flex;
        gap: rem(4px);
    }

    .the-tag {
        display: block;
        padding: rem(2px) rem(4px);
        background-color: #f3f3f3;
        line-height: 1.8125;
        font-weight: 500;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}
