{% extends 'base.twig' %}

{% block content %}
	{% if the_posts %}
		<div class="the-posts">
			{% for item in the_posts %}
				{{ item }}
			{% endfor %}
		</div>
	{% endif %}

	{{ pagination }}
{% endblock %}
