<p>Inspect and copy HTML of <code>table.wp-list-table</code> from URL like <em>edit-comments.php?p=123&comment_status=approved</em></p>
<textarea name="rh-p2-comment-importer" id="rh-p2-comment-importer" class="widefat" rows="5"></textarea>
<input type="hidden" name="rh-p2-comment-importer-nonce" value="{{ the_nonce|esc_attr }}">
